html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
:root {
  /* Type */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
  --smallText: 0.8rem;
}
h1 {
  margin-top: 0;
  font-size: var(--h1);
  font-family: "Grandstander", cursive;
}

h2 {
  font-size: var(--h2);
  font-family: "Grandstander", cursive;
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
:root {
}

html {
  background-color: aqua;
}

.nav-item-desk {
  background-color: red;
  font-family: "Grandstander", cursive;
}

/* just install tailwind tbh this boring to do */
/* some notes: figure out how to make the circle only appear partially (unless it can just clip outside then its fine; mabye mess around with color cause im not doing ukrain now; use some images from that thing on the rubric; button effects; should be it in terms of design? also make sure it passes wave */
/* need to add a sort feature, look at the rest of the requirments */
