html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
:root {
  /* Type */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
  --smallText: 0.8rem;
}
h1 {
  margin-top: 0;
  font-size: var(--h1);
  font-family: "Grandstander", cursive;
}

h2 {
  font-size: var(--h2);
  font-family: "Grandstander", cursive;
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
:root {
}

html {
  background-color: peachpuff;
}
.nav-item-desk {
  font-size: 400%;
  background-color: black;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 0.3rem;
  
}
#home-button {
  box-shadow: inset 0 0 0 0 cyan;
  transition: ease-out 0.5s;
}
#home-button:hover {
  box-shadow: inset 100px 0 0 0 cyan;
  cursor: pointer;
  color: black;
}

#home-button:hover:before{
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
#blog-button {
  box-shadow: inset 0 0 0 0 cyan;
  transition: ease-out 0.5s;
}
#blog-button:hover {
  box-shadow: inset 100px 0 0 0 cyan;
  cursor: pointer;
  color: black;
}
/*  #685eff */
.article-title {
  background-color: #ff5ef5;
  margin-left: auto;
  width: 45rem;
  margin-right: auto;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  
   
}
.article-author {
  background-color: #ff5ef5;
  margin-left: auto;
  width: 45rem;
  margin-right: auto;
  padding: 1rem;
   
}
.article-link {
  font-size: 2rem;
  height: 3rem;
  margin-left: auto;
  width: 30rem;
  margin-right: auto;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: "Grandstander", cursive;
  border: 8px solid aqua;
  z-index: 1;
  position: relative;
  outline: none;
}
.article-link:hover {
  color: black;
  cursor: pointer;
}
.article-link:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: -1;
  opacity: 0;
  content: "";
  background-color: aqua;
}
.article-link:hover:before{
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
.artile-description {
  background-color: #ff5ef5;
  margin-left: auto;
 width: 45rem;
 margin-right: auto;
 border-bottom-right-radius: 2rem;
 border-bottom-left-radius: 2rem;

}
.img-preview {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.header-title {
  background-color: #ff5ef5;
  margin-left: auto;
  width: 70rem;
  margin-right: auto;
  border-radius: 2rem;
  border-top-left-radius: ;
}
.header-disc {
  padding: 10px;
}
@media (max-width: 400px) {
  .article {
    width: 400px;
  }
}
