<nav class="desk">
  <ul role="list" class="desk-nav">
    <li>
      <a href="/" class="nav-item-desk" id="home-button">Home</a>
    </li>
    <li>
      <a href="/blogs/" class="nav-item-desk" id="blog-button">Blog</a>
    </li>
  </ul>
</nav>

<!-- yeah so you can just edit it here same editing properties as a html file -->
