<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>its pizza time</title>
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    {% include 'nav.njk' %}
    <header class="header">
      <div class="header-container">
        <h1 class="header-title">Nikita's Blog Site</h1>
        <h2 class="header-desc">Come Check Out My Blog's!</h2>
        <img class="header-image"
          src="https://res.cloudinary.com/dyigfttcc/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1654222091/Screenshot_2022-06-02_220126_rgksxn.jpg"
          alt=""
        />
      </div>
      <div class="header-image"></div>
    </header>
    <span class="dot"></span>
    <!-- I have no idea what span does -->
  </body>
</html>
